<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
<div class="form-group">
    <div class="col-sm-12">
        <div class="cf-turnstile" data-sitekey="{{ site_key }}"></div>
        {% if error_captcha %}
        <div class="text-danger">{{ error_captcha }}</div>
        {% endif %}
    </div>
</div>